@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: w;
  src: url(./fonts/WanoQuin-ExtraBold.otf);
}

body {
  color: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background-color: #fdfbfb;
}
h1 {
  text-shadow: 2px 4px 5px rgb(253, 250, 253);
}
.brown {
  color: rgb(222, 135, 14);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
  background-color: #141414;
}

.navbar span {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: animate 5s infinite linear;
}

@keyframes animate {
  0% {
    left: 0;
    transform: translate(-100%);
  }
  100% {
    left: 100%;
    transform: translate(0%);
  }
}

.logo {
  text-transform: capitalize;
  font-size: 30px;
  cursor: pointer;
  font-family: w;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 40px;
}
a:hover {
  background-color: rgba(255, 166, 0, 0.6);
  box-shadow: rgba(244, 178, 86, 0.927) 0px 3px 8px;
  font-weight: bolder;
}
.menu {
  display: flex;
  gap: 5rem;
  text-transform: uppercase;
  font-weight: 100;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
}

section {
  width: 100vw;
  flex-shrink: 0;
  overflow: hidden;
}

.video-section video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -2;
  position: relative;
}

.img-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.section {
  background-color: #141414;
  padding: 7rem;
}

.boxes-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.columns {
  display: flex;
  gap: 1.5rem;
  position: relative;
}

.col img {
  object-fit: cover;
}

.col-1 {
  display: flex;
  gap: 1.5rem;
  flex: 5;
}
.box1 .col-1 img:first-child {
  width: 150px;
  height: 180px;
  transform: translateY(-30px);
}

.box1 .col-1 img:nth-child(2) {
  width: 380px;
  height: 430px;
}

.col-3 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  flex: 4;
}

.box1 .col-3 img:first-child {
  width: 320px;
  height: 170px;
}

.box1 .col-3 img:nth-child(2) {
  width: 150px;
}
.box1 .col-3 img:nth-child(3) {
  width: 200px;
  height: 200px;
}

.col-2 {
  margin: auto;
  flex: 1.5;
}

.col-2 h1 {
  font-family: w;
  font-size: 100px;
  text-transform: capitalize;
  position: absolute;
  top: 50px;
  left: 47%;
  z-index: 100;
}
.box1 .col-2 h1 {
  top: 0;
}

.col-2 span {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0.7;
}

.line {
  height: 1px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 2rem 0;
}

.text-box p {
  font-size: 12px;
  line-height: 1.9;
  padding-bottom: 1rem;
  opacity: 0.7;
}

.box2 .col-1 img:first-child {
  width: 200px;
  height: 250px;
  transform: translateY(200px);
}

.box2 .col-1 img:nth-child(2) {
  height: 380px;
  width: 300px;
}
.box2 .col-3 img:nth-child(1) {
  height: 300px;
  width: 220px;
}

.box2 .col-3 img:nth-child(2) {
  width: 180px;
  height: 200px;
  align-self: flex-end;
}
.box2 .col-3 img:nth-child(3) {
  width: 380px;
  height: 200px;
  transform: translateX(80px);
}

.box3 .col-1 {
  display: flex;
  flex-wrap: wrap;
}

.box3 .col-1 img:nth-child(1) {
  width: 200px;
  height: 280px;
  transform: translateX(30px);
}
.box3 .col-1 img:nth-child(2) {
  width: 180px;
  height: 200px;
  margin-left: 80px;
  align-self: center;
}
.box3 .col-1 img:nth-child(3) {
  width: 280px;
  height: 180px;
}
.box3 .col-1 img:nth-child(4) {
  width: 250px;
  height: 180px;
  transform: translateY(-30px);
}

.box3 .col-3 img {
  width: 400px;
  height: auto;
}

footer {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.text-content {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: w;
  width: 450px;
  position: relative;
  height: 110px;
  overflow: hidden;
}

.bg {
  font-size: 100px;
}

.sm {
  font-size: 35px;
  height: 40px;
}

.left {
  left: -25%;
}

.right {
  top: 50px;
  left: 75%;
}

.title span {
  position: absolute;
}

.n {
  z-index: -1;
}

.text-content p {
  transform: translateY(150px);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 12px;
  font-weight: 300;
}

.v_container {
  position: absolute;
  top: 0;
  margin-top: 111px;
  /* height: 100vh; */
  width: 100vw;
  color: #181717;
  display: flex;
  justify-content: center;
  text-shadow: 2px 4px 5px rgb(253, 250, 253);
}

.left-side {
  padding: 4rem;
  gap: 4rem;
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.tv {
  font-family: w;
  display: flex;
  text-transform: capitalize;
}

.bottom {
  transform: translateY(70px);
  position: relative;
  right: 50px;
}

.text-container {
  max-width: 560px;
  min-height: 300px;
  display: flex;
  margin-top: 70px;
}
.text-container p {
  background-color: #fffefe;
  margin-right: 20px;
  padding: 20px;
  border-radius: 30px;
  margin-top: 130px;
  line-height: 40px;
  opacity: 0.8;
  text-shadow: 2px 4px 9px rgba(202, 125, 9, 0.7);
  font-weight: 900;
  box-shadow: rgba(210, 123, 10, 0.599) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* .text-container p {
  padding-bottom: 1rem;
  line-height: 1.4;
  opacity: 0.8;
} */

.right-side {
  position: relative;
  bottom: 220px;
  z-index: 200;
}

.right-side p {
  position: absolute;
  top: 45%;
  left: -15%;
  text-transform: uppercase;
  font-size: 14px;
}

.fa-arrow-right-long {
  transform: translateX(20px);
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(./media/mainimg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
#text {
  position: absolute;
  width: 72%;
  display: flex;
  font-family: w;
  top: 200px;
  font-size: 7em;
  font-weight: bolder;
  color: rgba(6, 4, 0, 0.985);
  text-shadow: 2px 4px 9px rgba(222, 150, 17, 0.985);
}
#text img {
  width: 100%;
}
.parallax .img {
  position: absolute;
  top: 330px;
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.parallax img#bottom-left {
  transform: translateX(510px);
}
.parallax img#bottom-right {
  transform: translateX(-50px);
}

.logoimg {
  width: 50px;
}

.foot {
  font-family: w;
  text-align: center;
  width: 100%;
}

.vedio {
  background-color: #141414;
  height: 70vh;
  width: 100%;
  margin-top: 100px;
  display: flex;
}

.vediol {
  width: 100%;
}
.vedior {
  width: 100%;
  margin-left: 50px;
  background-image: url(/media/hiclipart.com.png);
  /* background-size: cover; */
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  background-repeat: no-repeat;
}

.vedior p {
  width: 100%;
  padding: 25px 60px;
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.vedior h1 {
  font-family: w;
  font-size: 6rem;
}
